{% extends "layout.html" %}

{% block content %}
    <form method="post">
        <p>{{ form.first_name.label }}: {{ form.first_name() }}</p>
        <p>{{ form.last_name.label }}: {{ form.last_name() }}</p>
        <p>{{ form.email.label }}: {{ form.email() }}</p>
        <p>{{ form.date_of_birth.label }}: {{ form.date_of_birth() }}</p>
        <p>{{ form.password.label }}: {{ form.password() }}</p>
        <p>{{ form.confirm.label }}: {{ form.confirm() }}</p>

        {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
         {% endif %}

        <p><input type="submit" value="Save"></p>
    </form>

    {% if monkey_self %}
        <a href="{{ url_for('delete') }}">Delete profile</a>
    {% endif %}
{% endblock %}
