{% extends "layout.html" %}

{% block content %}
    <div id="monkey_list">
        <p>
            All monkeys
            <a href="{{ url_for('list') }}">by name</a> |
            <a href="{{ url_for('list', order='best_friend') }}">by best friend</a> |
            <a href="{{ url_for('list', order='friends') }}">by number of friends</a>
        </p>
        <ul>
            {% for monkey in monkeys %}
                <li>
                    <a href="{{ url_for('profile', monkey_id=monkey.id) }}">{{ monkey.first_name }} {{ monkey.last_name }}</a>{% if monkey.age() %}, {{ monkey.age() }}{% endif %}<br>
                    Friends: {{ monkey.friends|length }}
                    {% if monkey.best_friend %}
                        | Best friend: <a href="{{ url_for('profile', monkey_id=monkey.best_friend.id) }}">{{ monkey.best_friend.first_name }} {{ monkey.best_friend.last_name }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
