{% extends "layout.html" %}

{% block content %}
    <div id="monkey_list">
        <p>
            All monkeys
            <a href="{{ url_for('list') }}">by name</a> |
            <a href="{{ url_for('list', order='best_friend') }}">by best friend</a> |
            <a href="{{ url_for('list', order='friends') }}">by number of friends</a>
        </p>
        <ul>
            {% for monkey in monkeys.items %}
                <li>
                    <a href="{{ url_for('profile', monkey_id=monkey.id) }}">{{ monkey.first_name }} {{ monkey.last_name }}</a>{% if monkey.age() %}, {{ monkey.age() }}{% endif %}<br>
                    Friends: {{ monkey.friends|length }}
                    {% if monkey.best_friend %}
                        | Best friend: <a href="{{ url_for('profile', monkey_id=monkey.best_friend.id) }}">{{ monkey.best_friend.first_name }} {{ monkey.best_friend.last_name }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <p class="pagination">
            {% if monkeys.has_prev %}
                <a href="{{ url_for('list', order=order, page=monkeys.prev_num) }}"><< Previous page</a>
            {% endif %}

            {% for page in monkeys.iter_pages() %}
                {% if page %}
                    {% if page != monkeys.page %}
                        <a href="{{ url_for('list', order=order, page=page) }}">{{ page }}</a>
                    {% else %}
                        <strong>{{ page }}</strong>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>&#8230;</span>
                {% endif %}
            {% endfor %}

            {% if monkeys.has_next %}
                <a href="{{ url_for('list', order=order, page=monkeys.next_num) }}">Next page >></a>
            {% endif %}
        </p>
    </div>
{% endblock %}
