{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <div id="monkey_list">
        <p>
            All monkeys
            <a href="{{ url_for('list') }}">by name</a> |
            <a href="{{ url_for('list', order='best_friend') }}">by best friend</a> |
            <a href="{{ url_for('list', order='friends') }}">by number of friends</a>
        </p>

        {{ macros.render_monkeys(monkeys.items) }}

        <p class="pagination">
            {% if monkeys.has_prev %}
                <a href="{{ url_for('list', order=order, page=monkeys.prev_num) }}"><< Previous page</a>
            {% endif %}

            {% for page in monkeys.iter_pages() %}
                {% if page %}
                    {% if page != monkeys.page %}
                        <a href="{{ url_for('list', order=order, page=page) }}">{{ page }}</a>
                    {% else %}
                        <strong>{{ page }}</strong>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>&#8230;</span>
                {% endif %}
            {% endfor %}

            {% if monkeys.has_next %}
                <a href="{{ url_for('list', order=order, page=monkeys.next_num) }}">Next page >></a>
            {% endif %}
        </p>
    </div>
{% endblock %}
