{% extends "layout.html" %}

{% block container %}
    <h2>Enter your details to log in</h2>

    <form class="form-inline" method="post" role="form">
        <div class="form-group">
            {{ form.email.label(class_="sr-only") }}
            {{ form.email(class_="form-control", placeholder="E-mail address") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class_="sr-only") }}
            {{ form.password(class_="form-control", placeholder="Password") }}
        </div>

        <button type="submit" class="btn btn-default">Log in</button>
    </form>

    {% if form.errors %}
        <ul class="errors list-unstyled text-danger">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
